doctype transitional
head
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  //if gt mso 15
    style(type='text/css' media='all').
      /* Outlook 2016 Height Fix */
      table, tr, td {border-collapse: collapse;}
      tr { font-size:0px; line-height:0px; border-collapse: collapse; }
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='format-detection' content='telephone=no, date=no, address=no, email=no')
  meta(name='robots' content='noindex, nofollow')
  title Password Reminder Email
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap' rel='stylesheet')
// Main Parent Table
body(style='padding: 0; margin: 0; -webkit-font-smoothing:antialiased; background-color:#f1f1f1; -webkit-text-size-adjust:none;')
  table(width='100%' border='0' cellpadding='0' direction='ltr' bgcolor='#f1f1f1' cellspacing='0' role='presentation' style='width: 640px; margin:0 auto 0 auto;')
    tbody
      tr
        td(style='display:none;font-size:0;line-height:0;color:#111111;')
          | Alpha Project
      tr
        td
